*{
    padding: 0;
    margin: 0;
    justify-content: space-evenly;
}

body{
    background-image: url("https://i.pinimg.com/originals/83/f6/5e/83f65e8c6efc88fabfcfbb11cf63bd8a.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1{
    position: fixed;
    width: 100%;
    z-index: 1;
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 1px black, 0 0 1em blue, 0 0 0.2em blue;
    background-color: gray;
    font-family: 'Aboreto', cursive;
    border: 5px solid black;
}

.atras{
    position: relative;
    z-index: 2;
    left: 50px;
    top: 30px;
}

.delante{
    position: relative;
    z-index: 2;
    left: 85%;
    top: 30px;
}

.a1{
    position: fixed;
    background-color: white;
    color: black;
    font-weight: bold;
    outline: 5px solid black;
    padding: 3px;
}

.a1:hover{
    background-color: black;
    color: red;
    transition: 0.3s;
}

.a2{
    position: fixed;
    background-color: white;
    color: black;
    font-weight: bold;
    outline: 5px solid black;
    padding: 3px;
}

.a2:hover{
    background-color: black;
    color: red;
    transition: 0.3s;
}

.menu{
    position: relative;
    z-index: 2;
    left: 50px;
    top: 100px;
}

.a3{
    position: fixed;
    background-color: red;
    color: white;
    font-weight: bold;
    outline: 5px solid white;
    padding: 3px;
}

.boton1{
    text-decoration: none;
    color: white;
    height: 100px;
    bottom: 25px;
    left: 50px;
    position: relative;
}

a{
    font-size: 20px;
    position: relative;
    text-decoration: none;
}

img{
    position: relative;
    box-shadow: 1px 1px 2px black, 0 0 1.5em rgb(255, 255, 255), 0 0 0.2em blue;
    border: 15px solid white;
    background-color: black;
}

.img1{
    margin-left: 50px;
    position: relative;
    float: left;
    margin-top: 100px;
    border-radius: 100%;
    width: 40ch;
    display: inline;
}

.img1 img:hover{
    transition: 0.5s;
    border: 20px solid blue;
    box-shadow: 1px 1px 2px black, 0 0 10em rgb(255, 255, 255), 0 0 0.2em black;
}

.img2{
    position: relative;
    left: 10px;
    float: right;
    border-radius: 100%;
    width: 40ch;
    margin-right: 50px;
    margin-top: 100px;
}

.img2 img:hover{
    transition: 0.5s;
    border: 20px solid red;
    box-shadow: 1px 1px 2px black, 0 0 10em rgb(255, 255, 255), 0 0 0.2em black;
}

.img3{
    margin-left: 50px;
    position: relative;
    float: left;
    border-radius: 100%;
    width: 40ch;
    right: 440px;
    top: 500px;
}

.img3 img:hover{
    transition: 0.5s;
    border: 20px solid yellow;
    box-shadow: 1px 1px 2px black, 0 0 10em rgb(255, 255, 255), 0 0 0.2em black;
}

.img4{
    position: relative;
    left: 10px;
    float: right;
    border-radius: 100%;
    width: 40ch;
    margin-right: 50px;
    margin-top: 100px;
    left: 450px;
    top: 400px;
}

.img4 img:hover{
    transition: 0.5s;
    border: 20px solid green;
    box-shadow: 1px 1px 2px black, 0 0 10em rgb(255, 255, 255), 0 0 0.2em black;
}