*{
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

body{
    background-size: 100%;
    background-image: url("https://www.xtrafondos.com/descargar.php?id=6839&resolucion=3840x2160");
    font-family:Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
}

h1{
    position: fixed;
    width: 100%;
    z-index: 1;
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 1px black, 0 0 1em blue, 0 0 0.2em blue;
    background-color: gray;
    font-family: 'Aboreto', cursive;
    border: 5px solid black;
}

.atras{
    position: relative;
    z-index: 2;
    left: 50px;
    top: 30px;
}

.delante{
    position: relative;
    z-index: 2;
    left: 85%;
    top: 30px;
}

.a1{
    position: fixed;
    background-color: white;
    color: black;
    font-weight: bold;
    outline: 5px solid black;
    padding: 3px;
}

.a1:hover{
    background-color: black;
    color: red;
    transition: 0.3s;
}

.a2{
    position: fixed;
    background-color: white;
    color: black;
    font-weight: bold;
    outline: 5px solid black;
    padding: 3px;
}

.a2:hover{
    background-color: black;
    color: red;
    transition: 0.3s;
}

.boton1{
    text-decoration: none;
    color: white;
    height: 100px;
    bottom: 25px;
    left: 50px;
    position: relative;
}

a{
    font-size: 20px;
    position: relative;
    text-decoration: none;
}

.planeta{
    width: 20%;
    box-shadow: 0 0 10em rgb(255, 255, 255);
    position: absolute;
    right: 40%;
    top: 150px;
    border-radius: 100%;
}

.planeta:Hover{
    width: 35%;
    right: 34%;
    box-shadow: 0 0 15em rgb(255, 255, 255);
    transition: 2s;
    z-index: 2;
}

.container1{
    background-color: black;
    box-shadow: 0 0 10em black;
    width: 80%;
    height: 1400px;
    top: 600px;
    position: relative;
    margin-left: 50px;
    padding: 50px;
    left: 100px;
    border-radius: 10px;
}

h2{
    background-color: black;
    margin: 50px;
    padding: 20px;
    border-radius: 50px;
    top: 60px;
    left: 70px;
    border: solid 5px white;
    display: inline;
    color: rgb(255, 255, 255);
    position: relative;
    font-size: 35px;
    text-shadow: 0px 0px 20px rgb(255, 255, 255), 0 0 1em blue, 0 0 0.1em rgb(255, 255, 255);
}

p{
    text-shadow: 2px 2px 7px blue;
    color: white;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.5;
    width: 100%;
    margin-bottom: 50px;
}

#p1{
    padding-top: 150px;
}

#p2{
    margin-top: 50px;
}

.img1{
    float: right;
    width: 500px;
    margin-left: 10px;
    border-radius: 10px;
    border: 5px solid white;
}

.img2{
    float: right;
    width: 500px;
    margin-left: 10px;
    border-radius: 10px;
    border: 5px solid white;
    margin-top: 50px;
}

.img1:hover{
    width: 40%;
    z-index: 2;
    box-shadow: 0 0 10em white;
    transition: 3s;
}

.img2:hover{
    width: 40%;
    z-index: 2;
    box-shadow: 0 0 10em white;
    transition: 3s;
}

h3{
    margin: 50px;
    color: black;
    position: relative;
    font-size: 40px;
    text-shadow: 2px 2px 20px rgb(255, 255, 255), 0 0 1em blue, 0 0 0.2em rgb(255, 255, 255);
}

.iframe1{
    border: 10px solid white;
    float: left;
    position: relative;
    width: 40%;
    margin: 770px 0 50px 50px;
}

.iframe2{
    border: 10px solid white;
    float: right;
    position: relative;
    width: 40%;
    margin: 770px 50px 50px 0;
}