*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}


h1{
    position: relative;
    width: 100%;
    z-index: 1;
    text-align: center;
    font-size: 50px;
    margin-top: 0;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 1px black, 0 0 1em blue, 0 0 0.2em blue;
    background-color: gray;
    font-family: 'Aboreto', cursive;
    border: 5px solid black;
}

.atras{
    position: relative;
    bottom: 55px;
    left: 50px;
    z-index: 1;
}

a:hover{
    color: red;
    transition: 0.5s;
    background-color: black;
}

a{
    display: inline;
    position: absolute;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: black;
    line-height: 1.5;
}

.a1{
    position: relative;
    background-color: white;
    color: black;
    font-weight: bold;
    outline: 5px solid black;
    padding: 3px;
}

.a1:hover{
    background-color: black;
    color: red;
    transition: 0.3s;
}

.grid-container{
    justify-content: space-evenly;
    display: grid;
    position: relative;
    grid-template-rows: 400px 400px 400px;
    grid-template-columns: 500px 500px 500px;
}

img{
    margin: 20px 0 0 20px;
    width: 55.5ch;
    height: 40ch;
    border: solid 2px white;
}

img:hover {
    filter: saturate(300%);
    transition: 0.5s;
    transform: scale(1.1);
    border-radius: 50px;
    cursor: pointer;
}

iframe{
    position: absolute;
    display: block;
    width: 80%;
    height: 80%;
    left: 200px;
    padding: 100px 0 50px 0;
}