* {
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background-size: 100%;
    background-image: url("https://i.pinimg.com/originals/d4/ec/c9/d4ecc93de0d0a8877a22d2041ce589a6.jpg");
    padding-left: 150px;
    padding-right: 100px;
    padding-bottom: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ingreso {
    display: block;
    text-align: right;
    position: relative;
    bottom: 80px;
    padding-top: 50px;
}

h1 {
    text-align: center;
    font-size: 80px;
    margin-top: 0;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    padding-bottom: 100px;
    background: linear-gradient(to bottom red, blue);
    font-family: 'Aboreto', cursive;
}

.h11 {
    position: relative;
    right: 110px;
    text-align: center;
    font-size: 55px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    background: linear-gradient(to bottom red, blue);
}

.derecha {
    display: block;
    text-align: right;
    padding: 0;
    margin: 0;
}

::placeholder {
    color: black;
    font-weight: bold;
}

input {
    font-size: 18px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 7px solid black;
    border-left: 2px solid black;
    color: black;
    padding: 3px;
    font-weight: bold;
    height: 20px;
    margin-left: 10px;
    background: rgb(255, 255, 255);
    background: linear-gradient(80deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
    border-radius: 8px;
}

input:focus {
    transition: 0.5s;
    box-shadow: 2px 2px 20px rgb(255, 255, 255), 0 0 1em white, 0 0 0.2em rgb(255, 255, 255);
}

.crear {
    display: block;
    text-align: right;
    padding-top: 30px;
}

.large0 {
    width: 315px;
}

.large1 {
    width: 315px;
}

.large3 {
    width: 315px;
}

.corto {
    width: 135px;
}

.data {
    margin: 0;
    height: 25px;
    width: 170px;
    font-size: 20px;
    font-weight: bold;
}

.botones {
    border-top: 3px solid green;
    border-right: 3px solid green;
    border-bottom: 7px solid green;
    border-left: 3px solid green;
    text-shadow: 1px 7px 7px green;
    color: white;
    width: 150px;
    height: 50px;
    font-size: 20px;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, green 0%, rgba(0, 0, 0, 1) 100%);
}

.botones1 {
    border-top: 3px solid red;
    border-right: 3px solid red;
    border-bottom: 7px solid red;
    border-left: 3px solid red;
    color: white;
    text-shadow: 1px 7px 7px black;
    font-size: 20px;
    top: 50px;
    position: relative;
    right: 500px;
    font-weight: bold;
    width: 150px;
    height: 50px;
    margin-top: 15px;
    border-radius: 10% / 50%;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, red 0%, rgba(0, 0, 0, 1) 100%);
}

.botones2 {
    border-top: 3px solid green;
    border-right: 3px solid green;
    border-bottom: 7px solid green;
    border-left: 3px solid green;
    text-shadow: 1px 7px 7px black;
    color: white;
    font-size: 20px;
    bottom: 60px;
    position: relative;
    font-weight: bold;
    width: 150px;
    height: 50px;
    margin-top: 15px;
    border-radius: 10% / 50%;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, green 0%, rgba(0, 0, 0, 1) 100%);
}

.botones:hover {
    cursor: pointer;
    width: 155px;
    height: 55px;
    transition: 0.5s;
    box-shadow: 2px 2px 20px rgb(255, 255, 255), 0 0 1em white, 0 0 0.2em rgb(255, 255, 255);
}

.botones1:hover {
    cursor: pointer;
    width: 155px;
    height: 55px;
    transition: 0.5s;
    box-shadow: 2px 2px 20px rgb(255, 255, 255), 0 0 1em white, 0 0 0.2em rgb(255, 255, 255);
}

.botones2:hover {
    cursor: pointer;
    width: 155px;
    height: 55px;
    transition: 0.5s;
    box-shadow: 2px 2px 20px rgb(255, 255, 255), 0 0 1em white, 0 0 0.2em rgb(255, 255, 255);
}

.terminos {
    font-size: 20px;
    color: white;
    margin: 10px;
    position: relative;
    bottom: 80px;
    left: 19px;
    cursor: help;
}

.aceptar {
    display: inline;
    padding: 0;
    margin: 0;
    right: 20px;
    position: relative;
    cursor: pointer;
}

img {
    float: left;
    position: relative;
    bottom: 190px;
    right: 90px;
    width: 15%;
    border-radius: 50%;
    box-shadow: 0 0 5em rgb(255, 255, 255);
}

img:hover {
    width: 40%;
    text-align: center;
    transition: 3s;
    border: 20px solid white;
    cursor: grab;
}

a {
    color: white;
    cursor: pointer;
    margin-bottom: 50px;
    letter-spacing: 1px;
}

a:hover {
    transition: 1s;
    color: blue;
}

select {
    margin: 10px;
    font-size: 18px;
    background: rgb(255, 255, 255);
    background: linear-gradient(80deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
    width: 150px;
    height: 38px;
    border-bottom: 7px solid white;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 7px solid black;
    border-left: 1px solid black;
    padding: 5px;
    font-weight: bold;
}

select:focus {
    transition: 1s;
    box-shadow: 2px 2px 20px rgb(255, 255, 255), 0 0 1em white, 0 0 0.2em rgb(255, 255, 255);
}

option {
    color: white;
    background-color: black;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.p1 {
    color: blue;
    display: inline;
    position: relative;
    right: 100px;
    margin: 0;
    padding: 0;
}

.h1-1 {
    text-align: center;
    font-size: 51px;
    color: green;
    margin: 0;
    padding: 20px 0 20px 0;
    text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
    font-family: 'Aboreto', cursive;
}

h3 {
    padding: 30px;
    font-weight: bold;
    color: black;
    font-size: 25px;
}

.hola {
    box-sizing: none;
    border-radius: 50px;
    position: relative;
    left: 123.5ch;
    bottom: 45px;
}

.hola:hover {
    width: 250px;
    border: none;
}