*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 100;
}

body{
    background: black;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("https://efacico.files.wordpress.com/2017/03/tormentoso.gif");
}

.flex-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    background: rgb(25, 23, 23);
    margin: 50px 50px;
    padding: 20px;
    border: 30px solid rgb(0, 0, 0);
    outline: 10px solid #094;
}

.form{
    min-width: 400px;
    flex: 1;
    text-align: center;
    padding: 30px;
    order: 5;
}

.form__input{
    width: 100%;
    padding: 7px;
    margin: 6px 0;
    border: none;
    border-bottom: 3px solid #094;
    background: transparent;
    color: rgb(255, 255, 255);
    font-size: 40px
}

.form__input:focus{
    background: linear-gradient(to bottom, transparent, rgb(0, 0, 0));
    outline: none;
    border-bottom: 3px solid #094;
}

.form textarea{
    min-height: 140px;
    resize: none;
}

.form-img{
    flex: 1;
    padding: 10px;
    display: flex;
    min-width: 300px;
    max-width: 400;
    order: 2;
}

.form-img div{
    padding: 10px;
}

.img-container{
    margin: auto;
}

.img-container div{
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 40px;
    box-shadow: 2px 4px 15px white
}

.form-img img{
    width: 90%;
    margin: auto;
}

.form input[type="submit"]{
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 4px 15px white;
    text-shadow: 2px 4px 15px white;
    border-bottom: none;
    padding: 20px;
}

.form input[type="submit"]:hover{
    background-color: #094;
    border-bottom: none;
    padding: 20px;
}

.form input[type="submit"]:focus{
    background-color: rgb(255, 255, 255);
}

.form input[type="submit"]:active{
    background: linear-gradient(to bottom, black, white);
}

.botones{
    background-color: white;
    width: 200px;
    height: 80px;
    font-size: 22px;
    border-radius: 10% / 50%;
    position: relative;
    margin: 20px;
    border: 10px solid #094;
}

.botones:hover {
    background-color: blue;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: white;
    text-decoration: none;
}